# ERPNext Docker ignore rules

# Database data
storeData/db-data/
storeData/redis-queue-data/

# Logs
storeData/logs/

# Sites (if bind-mounted locally)
storeData/sites/

# Python
__pycache__/
*.pyc

# Node
node_modules/

# VS Code
.vscode/

# Docker generated stuff
*.pid
*.sock

# env
*.env